.calendar-header {
    text-align: center;
}
.title {
    font-size: 1.2em;
}
.calendar-body ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
    border-bottom: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
}

.calendar-body li {
    text-align: center;
    background-color: rgb(255, 233, 225);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}

.img-container {
    position: relative;
    overflow: hidden;
    /* background-color: rgb(213, 227, 255); */
    aspect-ratio: 1 / 1;
}

.img-container img {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.img-container input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.img-container input[type=file]:disabled {
    cursor: not-allowed;
}

.del {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 8px;
}