.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary);
}

.content {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 125px);
    padding: var(--unit);
    margin: auto;
    box-sizing: border-box;
    background-color: var(--light);
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
}
.app-header .logo {
    flex: 1;
    margin: 0;
    text-align: center;
}
.app-header .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.app-header .menu-item-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--white);
}

.app-footer {
    height: 50px;
    padding: var(--unit);
    color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
}
.copyright {
    display: block;
    text-align: center;
}