@import '~normalize.css';

:root {
    --primary: #ffa6a6;
    --primary-dark: #ff7b7b;
    --secondary: #8eccff;
    --secondary-dark: #65baff;
    --light: #fff;
    --info: #048eff;
    --danger: #ff0000;
    --unit: 1em;
}

/* Form */
.field {
    display: block;
    margin-bottom: var(--unit);
}

.field-title {
    display: block;
}

.field input:not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}

.field-msg {
    color: var(--danger);
}

/* Btn */
.btn {
    background: transparent;
    padding: .5em;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.btn:disabled {
    pointer-events: none;
    filter: grayscale(1);
    opacity: .8;
}

.btn-primary {
    background: var(--light);
    color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background: var(--light);
    color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-secondary {
    background: var(--light);
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--light);
    color: var(--secondary-dark);
    border-color: var(--secondary-dark);
}

.btn-link {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgb(0, 0, 238);
    text-decoration: underline;
}

.btn-link:active {
    color: rgb(255, 0, 0);
}

.btns {
    margin-top: var(--unit);
}

.btns .btn {
    margin-right: var(--unit);
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aeaeae;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
}