@import '~normalize.css';

:root {
    --primary: #a15c38;
    --primary-dark: #653a23;
    --secondary: #c3a6a0;
    --secondary-dark: #897470;
    --light: #f7f1f0;
    --dark: #262220;
    --white: #fff;
    --info: #3875a1;
    --warning: #ffa322;
    --danger: #c32626;
    --unit: 1em;
    --radius: 5px;
}

body {
    color: var(--dark);
    background: var(--light);
}

/* Form */
.field {
    display: block;
    margin-bottom: var(--unit);
}

.field-title {
    display: block;
    font-weight: bold;
}

.field-msg {
    color: var(--danger);
}

input:not([type="checkbox"]),
select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    padding: 8px;
}
input:not([type="checkbox"]):focus,
select:focus {
    outline-color: var(--primary);
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 1em;
    aspect-ratio:  1 / 1;
    border: 1px solid var(--primary);
    background-color: var(--white);
}
input[type="checkbox"]:checked{
    background-color: var(--primary);
}
input[type="checkbox"]:checked:after {
    content: '\1F5F8';
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: .5em;
    font-weight: bold;
    color: #fff;
}

/* Btn */
.btn {
    background: transparent;
    padding: .5em;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.btn:disabled {
    pointer-events: none;
    opacity: .8;
    border-color: transparent;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
    border-color: var(--primary-dark);
    border-radius: var(--radius);
}
.btn-primary:hover {
    background: var(--primary-dark);
}
.btn-primary.active {
    background: var(--primary-dark);
}

.btn-primary-outline {
    background: var(--light);
    color: var(--primary);
    border-color: var(--primary);
}

.btn-primary-outline:hover {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
}
.btn-primary-outline.active {
    color: var(--light);
    background: var(--primary-dark);
}

.btn-link {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
}
.btn-link:hover {
    color: var(--primary-dark);
}
.btn-link:active {
    color: var(--secondary);
}

.btns {
    margin-top: var(--unit);
}

.btns .btn {
    margin-right: var(--unit);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aeaeae;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
}

/* M    odal */
.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}