<section class="login">
    <h2>Login</h2>

    <form [formGroup]="login" (ngSubmit)="submit()">
        <label class="field">
            <span class="field-title">Email</span>
            <input type="email" required formControlName="email" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('email') }}</small>
        </label>

        <label class="field">
            <span class="field-title">Password</span>            
            <input type="password" required formControlName="pwd" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('pwd') }}</small>
        </label>

        <button class="btn btn-primary field" [disabled]="!login.valid">Submit</button>

        <button class="btn-link" (click)="forgotPwd()">Forgot password</button>
    </form>

    <div id="g_id_onload"
        data-client_id="272976394573-m3k7tm2m60a4dkm6qj8mlqn79dh48ckm.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="https://localhost:5000/api/OAuthGoogle"
        data-nonce=""
        data-itp_support="true">
    </div>
    
    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
</section>