<section class="login">
    <h2>Login</h2>

    <form [formGroup]="login" (ngSubmit)="submit()">
        <label class="field">
            <span class="field-title">Email</span>
            <input type="email" required formControlName="email" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('email') }}</small>
        </label>

        <label class="field">
            <span class="field-title">Password</span>            
            <input type="password" required formControlName="pwd" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('pwd') }}</small>
        </label>

        <button class="field">Submit</button>

        <button class="btn-link" (click)="forgotPwd()">Forgot password</button>
    </form>
</section>