.title {
    font-size: 1.5em;
}

.plan-ctrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan-filter .field {
    display: inline-block;
    margin: 0;
}
.plan-filter .field {
    margin-right: var(--unit);
}