.plan-info input {
    padding: .5em;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.plan-info input:focus {
    border-color: var(--primary);
}

.title input {
    font-size: 1.5em;
    /* margin-bottom: 1em; */
}