
.plans {
    padding: 0;
    list-style: none;
}

.plan {
    background: var(--light);
    border-radius: 8px;
    padding: var(--unit);
}

.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}