.plan-list {
    padding: 0;
    list-style: none;
}

.plan-item {
    background: var(--light);
    border-radius: 8px;
    padding: var(--unit);
}

.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-header .title {
    font-size: 1.5em;
    font-weight: bold;
}