<div class="plans">
    <button (click)="add()">Add</button>

    <ul *ngFor="let plan of planList; index as i">
        <li>
            <ng-container *ngIf="edit==i else readonly">
                <label>
                    <input type="text" [(ngModel)]="plan.title">
                </label>
    
                <label>
                    <input type="text" [(ngModel)]="plan.description">
                </label>

                <label>
                    <input type="date" [(ngModel)]="plan.startFrom" [min]="today">
                </label>

                <div class="btns">
                    <button (click)="save(plan)">Save</button>
                    <button (click)="closeEditor(plan)">Cancel</button>
                </div>
            </ng-container>
            <ng-template #readonly>
                <label>
                    <a [routerLink]="['/plan', plan.id]">{{ plan.title }}</a>
                </label>

                <label>
                    {{ plan.description }}
                </label>

                <label>
                    {{ plan.startFrom }}
                </label>

                <div class="btns">
                    <button (click)="edit = i">Edit</button>
                    <button (click)="delete(plan.id, i)">Del</button>                
                </div>
            </ng-template>
        </li>
    </ul>
</div>