<div class="plans">
    <button (click)="add()">Add</button>

    <ul *ngFor="let plan of planList; index as i">
        <li>
            <ng-container *ngIf="edit==i else readonly">
                <label class="field">
                    <input type="text" [(ngModel)]="plan.title" maxlength="20">
                </label>
    
                <label class="field">
                    <input type="text" [(ngModel)]="plan.description" maxlength="50">
                </label>

                <label class="field">
                    <span class="field-title">Start From</span>
                    <input type="date" [(ngModel)]="plan.startFrom" [min]="today">
                </label>

                <div class="btns">
                    <button (click)="save(plan)">💾</button>
                    <button (click)="closeEditor(plan)">❌</button>
                </div>
            </ng-container>
            <ng-template #readonly>
                <label>
                    <a [routerLink]="['/plan', plan.id]">{{ plan.title }}</a>
                </label>

                <label>
                    {{ plan.description }}
                </label>

                <label>
                    {{ plan.startFrom }}
                </label>

                <div class="btns">
                    <button (click)="edit = i">✏️</button>
                    <button (click)="delete(plan.id, i)">🗑️</button>
                </div>
            </ng-template>
        </li>
    </ul>
</div>