<div class="landing">
    <div class="col content">
        <img class="logo" src="../../assets/cupcake.png" alt="logo">
        <p>
            <span class="title">CAKE,</span>
            Turn your challenges into a piece of cake!
        </p>
        <a routerLink="/about">Learn more</a>
    </div>

    <div class="col intro">
        <div class="tabs">
            <a class="tab btn btn-primary-outline" routerLink="login" routerLinkActive="active">Login</a>
            <a class="tab btn btn-primary-outline" routerLink="register" routerLinkActive="active">Register</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>