.landing {
    min-height: calc(100vh - 125px - 2*var(--unit));
}

.landing article {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    margin: auto;
}


.col {
    width: 50%;
    padding: var(--unit);
    box-sizing: border-box;
}

.intro .tab {
    display: inline-block;
    width: calc(50% - 5px);
    padding: var(--unit);
    box-sizing: border-box;
    text-align: center;
}
.tab:first-child {
    margin-right: 5px;
}
.tab:last-child {
    margin-left: 5px;
}


@media only screen and (max-width: 576px) {
    .col {
        width: 100%;
    }
}