article {
    display: flex;
    height: calc(100vh - 2*var(--unit));
}

section {
    padding: var(--unit);
}

.user {
    width: 30%;
    color: var(--light);
    background: var(--primary);
}

.content {
    flex: 1;
    background: var(--secondary);
    overflow-y: auto;
}