article {
    display: flex;
    height: calc(100vh - 2*var(--unit));
}

section {
    padding: var(--unit);
}

.user {
    width: 30%;
    background: rgb(255, 233, 225);
}

.content {
    flex: 1;
    background: rgb(213, 227, 255);
    overflow-y: auto;
}