article {
    display: flex;
    height: calc(100vh - 2*var(--unit));
}

section {
    padding: var(--unit);
}

.user {
    width: 30%;
    color: var(--primary);
    border-right: 1px solid var(--light);
}

.user .photo {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 1px solid var(--primary);
    background-color: var(--light);
    box-sizing: border-box;
}
.photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.desc {
    color: var(--primary-dark);
}

.content {
    flex: 1;
    overflow-y: auto;
}