<article *ngIf="user">

    <section class="user">
        <div class="photo">
            <img [src]="getPhoto(user)" [alt]="user.name + '\'s photo'">
        </div>
        <span class="name">{{ user.name }}</span>
        <p class="desc">{{ user.description }}</p>

        <div class="btns">
            <a class="btn btn-primary" title="plans" routerLink="plans" routerLinkActive="active" txs><i class="fa-solid fa-flag"></i></a>
            <a class="btn btn-primary" title="friends" routerLink="friends" routerLinkActive="active" txs><i class="fa-solid fa-heart"></i></a>
            <a class="btn btn-primary" title="setting" routerLink="/user_setting" txs><i class="fa-solid fa-pencil"></i></a>
            <button class="btn btn-primary-outline" title="logout" (click)="goToLogin()" txs><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </section>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
    
</article>