<article *ngIf="user">

    <section class="user">
        <div class="photo">
            <img src="" alt="">
        </div>
        <span>{{ user.name }}</span>
        <p>{{ user.description }}</p>
        
        <div class="btns">
            <a  class="btn btn-primary" routerLink="/user_setting">✏️</a>
            <button class="btn btn-primary">Follow</button>
            <button class="btn btn-secondary">Logout</button>
        </div>
    </section>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
    
</article>