<div class="forgot-password">
    <ng-container [ngSwitch]="lang">
        <ng-container *ngSwitchCase="'en-US'">
            <ng-container *ngTemplateOutlet="en"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'zh-TW'">
            <ng-container *ngTemplateOutlet="zh"></ng-container>
        </ng-container>
    </ng-container>
</div>

<!-- en -->
<ng-template #en>
    <ng-container *ngIf="status == 4; else init">
        <p>
            Please check your email to obtain the link for password reset.
            Click <button class="btn-link" (click)="send()">resend email</button> if not received or expired.
        </p>
    </ng-container>
    
    <ng-template #init>
        <ng-container *ngIf="status == 1 else invalid">
            <ng-container *ngTemplateOutlet="changepwd"></ng-container>
        </ng-container>
        
        <ng-template #invalid>
            <h2>😔Fail to change password.</h2>
            <ng-container *ngIf="status == 3 else register"><p>Please <button class="btn-link" (click)="send()">resend the email</button> and verify again.
                Due to following possible reasons:
                1. Only the latest confirmation letter is valid.
                2. The confirmation letter exceeded the period of one day.</p>
            </ng-container>
            <ng-template #register><p>Your account does not exist. Please <a routerLink="/register">register</a> a new one.</p></ng-template>
        </ng-template>
    </ng-template>
</ng-template>

<!-- zh -->
<ng-template #zh>
    <ng-container *ngIf="status == 4; else init">
        <p>
            請前往您的信箱以取得密碼重設連結。
            若未收到驗證信件或驗證信件已過期。請<button class="btn-link" (click)="send()">重新發送驗證信</button>。
        </p>
    </ng-container>
    
    <ng-template #init>
        <ng-container *ngIf="status == 1 else invalid">
            <ng-container *ngTemplateOutlet="changepwd"></ng-container>
        </ng-container>
        
        <ng-template #invalid>
            <h2>😔重設密碼失敗</h2>
            <ng-container *ngIf="status == 3 else register"><p>請<button class="btn-link" (click)="send()">重新發送驗證信</button>再驗證一次。
                由於以下可能的原因：
                1. 僅最新的驗證信件有效。
                2. 驗證信件已超過一天的期限。</p>
            </ng-container>
            <ng-template #register><p>您的帳戶不存在。<a routerLink="/register">註冊</a>新帳戶。</p></ng-template>
        </ng-template>
    </ng-template>
</ng-template>

<!-- changepwd -->
<ng-template #changepwd>
    <h2 txs>Change password</h2>
    <form [formGroup]="changePwd" (ngSubmit)="submit()">

        <label class="field">
            <span class="field-title" txs>Password</span>
            <input type="password" required formControlName="password" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('password') | txs | async }}</small>
        </label>
    
        <label class="field">
            <span class="field-title" txs>Confirm Password</span>
            <input type="password" required formControlName="confirmpassword" maxlength="50">
            <small class="field-msg">{{ formService.getErrorMsg('confirmpassword')  | txs | async }}</small>
        </label>
    
        <button class="btn btn-primary" txs>Submit</button>
    </form> 
</ng-template>