<ng-container *ngIf="status == 4; else init">
    <p>
        Please check your email to obtain the link for password reset.
        Click <button class="btn-link" (click)="send()">resend email</button> if not received or expired.
    </p>
</ng-container>

<ng-template #init>
    <ng-container *ngIf="status == 1 else invalid">
        <h2>Change password</h2>
        <form [formGroup]="changePwd" (ngSubmit)="submit()">

            <label class="field">
                <span class="field-title">Password</span>
                <input type="password" required formControlName="password" maxlength="50">
                <small class="field-msg">{{ formService.getErrorMsg('password') }}</small>
            </label>
        
            <label class="field">
                <span class="field-title">Confirm Password</span>
                <input type="password" required formControlName="confirmpassword" maxlength="50">
                <small class="field-msg">{{ formService.getErrorMsg('confirmpassword') }}</small>
            </label>
        
            <button>Submit</button>
        </form> 
    </ng-container>
    
    <ng-template #invalid>
        <h2>😔Fail to change password.</h2>
        <ng-container *ngIf="status == 3 else register"><p>Please <button class="btn-link" (click)="send()">resend the email</button> and verify again.
            Due to following possible reasons:
            1. Only the latest confirmation letter is valid.
            2. The confirmation letter exceeded the period of one day.</p>
        </ng-container>
        <ng-template #register><p>Your account does not exist. Please <a routerLink="/register">register</a> a new one.</p></ng-template>
    </ng-template>
</ng-template>