<form [formGroup]="changePwd" (ngSubmit)="submit()">

    <label class="field">
        <span class="field-title">Password</span>            
        <input type="password" required formControlName="pwd" maxlength="50">
        <small class="field-msg">{{ formService.getErrorMsg('pwd') }}</small>
    </label>

    <label class="field">
        <span class="field-title">Password</span>            
        <input type="password" required formControlName="pwd" maxlength="50">
        <small class="field-msg">{{ formService.getErrorMsg('pwd') }}</small>
    </label>

    <button>Submit</button>
</form>