<article>
    <h2 txs>About</h2>
    <p txs data-txs="AboutContent">
        Welcome to Cake, where you can set any goals and assist in achieving it by uploading photos every day, helping you to stay committed. You can also review your progress through images, just like a diary filled with your hard work.
        In Cake, you can also record those happy, touching or meaningful moments in your daily life and create your own life video.
    </p>
    <p txs data-txs="AboutFeature">
        You can add various categories to your plans. 
        In Cake, all categories are reviewed to avoid meaninglessness or illegality.
        Through these categories, you can find like-minded friends, appreciate the growth of others, 
        and motivate yourself to continually improve. 
        Additionally, categories also help attract others to appreciate your growth journey. 
        If you can't find a suitable category, please contact Cake and suggest adding a new one. 
        Cake looks forward to building a community that collectively pursues progress.
    </p>
    <section>
        <h3 txs>Three Steps</h3>

        <ol class="step-list">
            <li class="step-item">
                <h4 txs>Set up a Plan</h4>                
                <div class="img-container">
                    <img src="../../assets/about_set_plan.png" alt="image upload">
                </div>
                <p txs data-txs="Step1">Whether you're striving for personal growth, embarking on a creative project, or simply looking to
                    appreciate life's little moments, Cake allows you to set and track your goals with ease.</p>
            </li>
            <li class="step-item">
                <h4 txs>Daily Photo Uploads</h4>
                <div class="img-container">
                    <img src="../../assets/about_img_upload.gif" alt="image upload">
                </div>
                <p txs data-txs="Step2">Upload only one photo a day, giving you the power to preserve the moments that matter most to you. It's like building a visual story of your life, one snapshot at a time.</p>
            </li>
            <li class="step-item">
                <h4 txs>Monthly Video Creation</h4>                
                <div class="img-container">
                    <img src="../../assets/about_video_export.gif" alt="image upload">
                </div>
                <p txs data-txs="Step3">At the end of each month, Cake lets you effortlessly compile all your daily photos into a stunning video montage. Relive the past month's memories and share your journey with friends and family.</p>
            </li>
        </ol>
    </section>

    <section>
        <h3 txs>The story of Cake</h3>

        <p txs data-txs="Story">            
            Cake is a gift created for Mr.Tseng, allowing him to track his physical changes
            and daily health meals through photos during his fitness process.
            To encourage and support his journey towards a healthier life.            
        </p>
    </section>

    <section class="btns" txs>
        <a routerLink="/register">Join now</a>
        <a routerLink="/login">Login</a>
        <a href = "mailto:inky11308@gmail.com?subject = Feedback&body = Message" txs>
            Contact
        </a>
    </section>
</article>