<article>
    <h2 txs>About</h2>
    <p txs data-txs="AboutContent">
        Cake was born as a birthday gift for my dear Mr. Tseng, with the intention of encouraging and supporting his journey towards a healthier life.

        Life is a journey filled with countless moments that deserve to be celebrated, from personal achievements and milestones to simple joys and daily wins. Cake is here to be your faithful companion on this journey, helping you capture these moments, one photo at a time.
    </p>
    <section>
        <h3 txs>Three Steps</h3>

        <ol>
            <li>
                <h4 txs>Set and Achieve Your Goals</h4>
                <p txs data-txs="Step1">Whether you're striving for personal growth, embarking on a creative project, or simply looking to
                    appreciate life's little moments, Cake allows you to set and track your goals with ease.</p>
            </li>
            <li>
                <h4 txs>Daily Photo Uploads</h4>
                <p txs data-txs="Step2">Upload only one photo a day, giving you the power to preserve the moments that matter most to you. It's like building a visual story of your life, one snapshot at a time.</p>
            </li>
            <li>
                <h4 txs>Monthly Video Creation</h4>
                <p txs data-txs="Step3">At the end of each month, Cake lets you effortlessly compile all your daily photos into a stunning video montage. Relive the past month's memories and share your journey with friends and family.</p>
            </li>
        </ol>
    </section>

    <section class="btns" txs>
        <a routerLink="/register">Join now</a>
        <a routerLink="/login">Login</a>
    </section>
</article>