<section class="register">
    <h2>Register</h2>

    <form [formGroup]="register" (ngSubmit)="submit()">
        <label class="field">
            <span class="field-title">Name</span>
            <input type="text" required formControlName="name" maxlength="10">
            <small class="field-msg">{{ getErrorMsg('name') }}</small>
        </label>

        <label class="field">
            <span class="field-title">Email</span>
            <input type="email" required formControlName="email" maxlength="50">
            <small class="field-msg">{{ getErrorMsg('email') }}</small>
        </label>

        <label class="field">
            <span class="field-title">Password</span>            
            <input type="password" required formControlName="pwd" maxlength="50">
            <small class="field-msg">{{ getErrorMsg('pwd') }}</small>
        </label>

        <label class="field">
            <span class="field-title">ConfirmPassword</span>            
            <input type="password" required formControlName="cfpwd" maxlength="50">
            <small class="field-msg">{{ getErrorMsg('cfpwd') }}</small>
        </label>

        <button>Submit</button>
    </form>
</section>